@import '../modules/gradients';
@import '../modules/navColors';
/* Make the nav take up the whole body width, and give it some top and bottom margin space */

.navigation {
  width: 100%;
  ul {
  	list-style: none;
	  margin: 0;
	  padding: 0;
	  width: 100%;


	  li {
	  	width: 20%;
			float: left;
			text-align: center;

			a, a:hover, a:visited, a:focus, a:active {
				color: white;
				text-decoration: none;
			}
			a {
				  text-align: center;

				  padding: 8px 0;

				  display: block;

				  width: 100%;

				  @include custom-gradient($light-blue, $primary-blue);
				}

		  a:hover {
		  	  @include custom-gradient($primary-blue, $dark-blue)
		  }
	  }
  }
}

/* Make the list of links take up the whole width of the nav */
