/* Make the nav take up the whole body width, and give it some top and bottom margin space */
.navigation {
  width: 100%;
  margin: 20px 0; }
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%; }
    .navigation ul li {
      width: 20%;
      float: left;
      text-align: center; }
      .navigation ul li a, .navigation ul li a:hover, .navigation ul li a:visited, .navigation ul li a:focus, .navigation ul li a:active {
        color: white;
        text-decoration: none; }
      .navigation ul li a {
        text-align: center;
        padding: 8px 0;
        display: block;
        width: 100%;
        background: #1e7497;
        background: -moz-linear-gradient(top, #1e7497 0%, #114357 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e7497), color-stop(100%, #114357));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #1e7497 0%, #114357 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #1e7497 0%, #114357 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #1e7497 0%, #114357 100%);
        /* W3C standard, IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e7497', endColorstr='#114357',GradientType=0 ); }
      .navigation ul li a:hover {
        background: #114357;
        background: -moz-linear-gradient(top, #114357 0%, #041217 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #114357), color-stop(100%, #041217));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #114357 0%, #041217 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #114357 0%, #041217 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #114357 0%, #041217 100%);
        /* W3C standard, IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114357', endColorstr='#041217',GradientType=0 ); }

/* Make the list of links take up the whole width of the nav */
.nav-title {
  float: left;
  width: 100%;
  display: block;
  height: 50px; }
  .nav-title a {
    width: 20%; }
  .nav-title button {
    float: right; }

body {
  width: 100%;
  margin: 0 auto; }
